  
  .skills-list {
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5vh;
 
    height: 70vh; 
    padding: 30px;
}
  
  

.PortfolioCenterDiv{
    margin: 13rem 0  ;
}

  .img_skills {
    width: 90px;
    height: 90px;
    padding: 40px;
  }
  a {
    background-color: transparent;
    color: white;
    text-decoration: inherit;
    max-height:2rem   !important;
}
   
  .SkillsHead{ 
      font-size: 50px;
     
      margin-bottom: 90px !important; 
  } 



.skill-icons-gird p {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 2vh; 
    text-align: center;
 color: white !important;
padding-top: 43px !important;
}

 

 .skill img {
    border-radius: 2rem;
    box-shadow: 0 4px 16px rgba(19,19,30,21.05), 0 8px 32px rgba(17,17,26,.05);
    cursor: pointer;
    display: block;
    height: 7rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    transition-duration: .4s;
    width: 7rem;
    background-color:#262626;
}









 